*.o
.DS_Store
.*.swp
/env
/dl
/.config
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds
/feeds.conf
/files
/themes
/overlay
/package/feeds
/package/openwrt-packages
/*.patch
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.genconfig_config_bak
.current_config_file
.genconfig.config
customerconfigs/
target/linux/iopsys-brcm63xx-arm
target/linux/iopsys-brcm63xx-mips
target/linux/iopsys-ramips
target/linux/iopsys-grx
target/linux/intel_mips


